<html>
<head>
   <meta charset="UTF-8" />
    <meta name ="viewport" content ="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
   <title>体重趋势</title>
   <script src="{{url_for('static',filename = 'js/jquery.min.js')}}"></script>
   <script src="{{url_for('static',filename = 'js/highcharts.js')}}"></script>
    <style type="text/css">
        #form
        {
            margin:0px auto; width:500px;
        }

        #textArea
        {
            border-color: #808080;
        }
    </style>
</head>
<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<br>
<div id="form">
    <input type="text" name="体重" id="textArea">
    <button id="submit">提交</button>
</div>
<script language="JavaScript">
$(document).ready(function() {

    if ({{ hasUpload|tojson }} ){

        $('#submit').attr('disabled',true);
    }
    else{

        $('#submit').attr('disabled',false);

    }
    $('#submit').click(function(){
        uploadData();
    });
    function uploadData(){
        if ($('#textArea').val() == "" || isNaN($('#textArea').val())){
            alert("你今天成仙了？")
        }
        else {
            $.post("/upload",{
                weight:$('#textArea').val()
            },
            function(data,status){
                alert("已上传");
                window.location.reload();
            });
        }
    }
   var title = {
       text: '南刚雷体重趋势'
   };
   var subtitle = {
        text: '管住嘴，迈开腿！'
   };
   var xAxis = {
       categories:{{ dates|tojson }}
{#       categories: ['一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月','一月', '二月', '三月', '四月', '五月', '六月'#}
{#              ,'七月', '八月', '九月', '十月', '十一月', '十二月']#}
   };
   var yAxis = {
      title: {
         text: 'Weight (Kg)'
      },
      plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
   };

   var tooltip = {
      valueSuffix: 'Kg'
   };

   var legend = {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
   };

   var series =  [
      {
         name: '实时体重',
         data: {{ weights|tojson }}.map(Number)
      }

   ];

   var json = {};

   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.tooltip = tooltip;
   json.legend = legend;
   json.series = series;

   $('#container').highcharts(json);
});
</script>

</body>
</html>
